<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="">
        <h2 class="">
            Email Confirmation
        </h2>
        {% autoescape off %}
        <p>
            Hello,
        </p>
        <p>
            Please click on the link to confirm your registration,
        </p>
        <a href="http://{{domain}}{% url 'activate' uidb64=uid token=token %}" class="">
            Email Confirmation
        </a>
        {% endautoescape%}
    </div>
</body>
</html>