{% extends 'base.html' %}
{% block title %}
Login
{% endblock %}
{% block  content %}
<section class="bg-gray-100 max-w-4xl mx-auto p-10">
    <div class="bg-white shadow-2xl max-w-md mx-auto p-10 my-60 rounded-lg">
        <h2 class="first-letter:capitalize text-3xl mb-3 font-semibold text-center">
            login
        </h2>
        <form action="{% url 'login' %}" method="post" class="">
            {% csrf_token %}
                 {% for field in form %}
                 <label for="" class="font-semibold text-xl">{{field.label}}</label>
                 {{field}}
                 {% endfor %}
                 <input type="submit" value="Log in" class="bg-teal-500 mt-3 py-4 px-6 w-full mx-auto hover:bg-teal-700 rounded-xl font-semibold text-white">
        </form>
        <p class="m-3 text-base">Don't have an account ?<span class="text-teal-500 underline"><a href="{% url 'signup' %}">Register</a></span></p>
        <p class="m-3 text-base">Forgot your password ?<span class="text-teal-500 underline"><a href="{% url 'password_reset' %}">Reset your password</a></span></p>

    </div>
</section>
{% endblock %}