{% extends  'base.html' %}
{% block title %}
Register
{% endblock %}
{% block content %}
<section class="bg-gray-100 max-w-4xl mx-auto p-10">
      <div class="bg-white shadow-2xl max-w-md mx-auto p-10 my-60 rounded-lg">
        <h2 class="first-letter:capitalize text-3xl mb-3 font-semibold text-center">
            Sign Up
        </h2>
            <form action="{% url 'signup' %}" method="post" class="">
                  {{form.non_field_errors}}
                  <div class="">
                      <label for="" class="font-semibold text-xl">Email</label>
                      {{form.email}}
                  </div>
                  <div class="">
                      <label for="" class="font-semibold text-xl">Password</label>
                      {{form.password1}}
                  </div>
                  <div class="">
                      <label for="" class="font-semibold text-xl">Repeat Password</label>
                      {{form.password2}}
                  </div>
                  <div class="">
                        {% if form.errors or form.non_field_errors %}
                        <div id="alert" class=" m-2 bg-red-500 rounded-xl p-4 text-base">
                            {% for field in form %}
                            {{field.errors}}
                            {% endfor %}
                            {{form.non_field_errors}}
                        </div>
                        {% endif %}
                           
                    </div>
                  <input type="submit" value="Register" class="px-6 py-3 rounded-lg text-white text-lg bg-teal-700 w-full">
            </form>
      </div>
</section>
{% endblock %}
